###################################################################################################################
########################################  lovelybacon.deviantart.com  #############################################
###################################################################################################################


###################################################################################################################
##################################################  Fonts  ########################################################

URxvt*font:	    			xft:Terminus:pixelsize=13,style=regular
URxvt*boldFont:				xft:Terminus:pixelsize=13,style=regular
URxvt*letterSpace:			-3
URxvt.allow_bold:			true


###################################################################################################################
##################################################  Colors  #######################################################

special
*.foreground:   #bec7d5
*.background:   #343740
*.cursorColor:  #bec7d5


! black
*.color0:       #5d6064
*.color8:       #ee4ff5

! red
*.color1:       #4d5a98
*.color9:       #EC709A

! green
*.color2:       #5c90d3
*.color10:      #4A9BE0

! yellow
*.color3:       #6DB3A0
*.color11:      #359fee

! blue
*.color4:       #5e6a7b
*.color12:      #E98BEE

! magenta
*.color5:       #7e8ea3
*.color13:      #5DCE49

! cyan
*.color6:       #8DADD9
*.color14:      #48EA57

! white
*.color7:       #5c616c
*.color15:      #CE59BC

###################################################################################################################
##################################################  ROFI Colors  ##################################################
rofi.color-enable: true
rofi.color-window: argb:6b343740, #4a94b5, #f7ffce
rofi.color-normal: #343740, #bec7d5, #343740, #4a94b5, #eee8d5


###################################################################################################################
###########################################  Enable link support  #################################################

URxvt.perl-ext-common:			default,matcher,tabbedex,vtwheel,clipboard
!URxvt.matcher.button:			1
URxvt.perl-ext:				default,url-select
URxvt.keysym.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:		/usr/bin/firefox
URxvt.url-select.underline:		true


###################################################################################################################
###############################################  Disable bell  ####################################################

URxvt.insecure: 			false


###################################################################################################################
###################################3#####  Copy / paste keybindings  ##############################################

URxvt.keysym.Shift-Control-V:		perl:clipboard:paste
URxvt.iso14755: 			false


###################################################################################################################
###########################################  Scrollbar / cursor  ##################################################

URxvt*saveLines: 			300000
URxvt.scrollBar: 			false
!URxvt*scrollstyle:			plain
URxvt*cursorBlink: 			false
URxvt*cursorUnderline: 		        true
URxvt*cursorColor: 			#51c4d4


###################################################################################################################
##################################################  Tabs  #########################################################

URxvt.tabbedex.autohide:		yes
URxvt.tabbedex.tabbar-fg:		2
URxvt.tabbedex.tabbar-bg:		0
URxvt.tabbedex.tab-fg:			10
URxvt.tabbedex.tab-bg:			0
URxvt.tabbedex.title:			yes
URxvt.tabbedex.new-button:		no


###################################################################################################################
#############################################  Toggle fullscreen  #################################################

URxvt.keysym.F11: 			perl:fullscreen:switch

###################################################################################################################
#################################################  Geometry  ######################################################

URxvt.geometry: 130x35+50+24

